.custom-raw {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
}

.custom-video {
    width: 100%;
    height: 400px;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* Set the height to whatever you need */
}

.table-bordered td {
    border-right: 1px solid black;
}

/* Add this to your style.css file */

/* Default styles */
.table-responsive {
    overflow-x: auto;
}

.extra-small-text {
    font-size: 12px;
    word-spacing: 0;
    /* Adjust the font size as needed */
}